.image-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.image-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1e758d;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  max-width: 90vw; /* modified from 30rem */
  max-height: 90vh;
  overflow: auto;
}

.image-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #1e758d;
  border-bottom: 1px solid #ccc;
}

.modal-title {
  margin: 0;
}

.close-button {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ccc;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.close-button:hover {
  color: #000;
}

.image-card-container {
  display: flex;
  flex-wrap: wrap;
  transition: transform 0.5s ease-out;
  /* adjust the duration and easing as desired */
}

.image-card {
  flex: 1 1 250px;
  margin: 10px;
  padding: 10px;
  background-color: #155263;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-out;
  /* adjust the duration and easing as desired */
}

.hero-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  cursor: pointer;
}

.hero-image img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease-out;
  /* adjust the duration and easing as desired */
}

@media screen and (min-width: 992px) {
  .hero-image {
    max-width: 50vw;
    /* adjust this value to fit your layout */
  }
}

@media screen and (max-width: 991px) {
  .hero-image {
    max-width: 17vw;
    /* adjust this value to fit your layout */
  }
}

@media screen and (max-width: 767px) {
  .hero-image {
    max-width: 22vw;
    /* adjust this value to fit your layout */
  }
}
