<div class="image-modal-container">
  <div class="image-modal-header">
    <h3 class="modal-title myHighlight font-ibm-plex-sans-regular">Select an Image by double clicking or close to cancel</h3>
    <button class="close-button" (click)="onCancelClick()">X</button>
  </div>
  <div class="image-card-container">
    <div class="row">
      <div class="col-6 col-md-12 col-lg-3" *ngFor="let image of images; let i = index">
        <div class="image-card">
          <div class="hero-image">
            <img class="img-responsive" [src]="image" (dblclick)="selectedImage=image; onImageDoubleClick()">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>