<header>

  <button type="button" class="fa fa-bars myBgColor" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <h6>Nav</h6>
  </button>
  <div class="modal fade-in modal-left modal_outer left_modal fade" id="exampleModal" tabindex="-1" role="dialog"
    [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <i type="button" class="fa fa-angle-double-left" data-bs-dismiss="modal" aria-label="Close"> Navigation</i>

        </div>
        <div class="modal-body">
          <a class="nav-link text-black bi-house" data-bs-dismiss="modal" routerLinkActive="active" aria-current="page"
            routerLink="/"> Home</a>
          <span>
            <a class="nav-link text-black " data-bs-dismiss="modal" routerLinkActive="active" aria-current="page"
              routerLink="/heroes-list">Heroes List</a></span>
          <span>
            <a class="nav-link text-black " data-bs-dismiss="modal" routerLinkActive="active" aria-current="page"
              routerLink="/powers-list">Powers List</a></span>
        </div>

      </div>
    </div>
  </div>


</header>
<main>
  <video id="myVideo" onloadedmetadata="this.muted=true" autoplay muted loop controls="false">
    <source id="test" src="./assets/site/backgroundvid.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>

  <div class="container mt-4">
    <div class="">
      <div class="z-10 flex justify-center px-6 md:px-0 mb-10 md:mb-[3vw]">
        <h1 class="max-w-[13em] text-center uppercase font-ibm-plex-sans-semibold  myHighlightDK fade-in">
          HeroHub</h1>
       
      </div>
    </div>
    <div class="flex justify-center px-6 md:px-0 mb-10 md:mb-[3vw]">
      <!-- <a routerLink="/">
        <img src="../assets/greendaleicon.jpg" width="120" height="15" alt="GreenDale Community College Icon Image"
          class="w-full text-bone">
      </a> -->
    </div>

  </div>


  <router-outlet></router-outlet>

</main>

<footer></footer>