#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(150, 149, 149, 0.5);
    color: #3b3a3a;
    width: 100%;
    padding: 20px;
  }
  
  input, button {
    background: rgb(185 178 170);
    color: black;
    border-radius: 6px;
    border-color: #000;
    box-shadow: 3px, 3px, 6px #ffffff;
  }
  
  .w-full {
    width: 100%;
  }
  
  img,
  video {
    max-width: 50%;
    height: auto;
  }
  
  audio,
  canvas,
  embed,
  iframe,
  img,
  object,
  svg,
  video {
    display: block;
    vertical-align: center;
  }
  
  .modal {
    background:#ffd76f;
    opacity: (.25);
  }
  
  .modal.left_modal,
  .modal.right_modal {
    position: relative;
    z-index: 99999;
  }
  
  .modal.left_modal .modal-dialog,
  .modal.right_modal .modal-dialog {
    position: relative;
    margin: 3px;
    width: 8%;
    height: 8%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }
  
  /*
  .modal-dialog {
     max-width: 100%; 
    margin: .5rem ;
  }
  */
  @media (min-width: 576px) {
    .left_modal .modal-dialog {
      max-width: 25%;
    }
  
  }
  
  .modal.left_modal .modal-content,
  .modal.right_modal .modal-content {
    overflow-y: auto;
    overflow-x: hidden;
    height: 20vh !important;
  }
  
  .modal.left_modal .modal-body,
  .modal.right_modal .modal-body {
    padding: 5px 5px 10px;
  }
  
  .modal.left_modal {
    pointer-events: none;
    background: transparent;
  }
  
  .modal-backdrop {
    display: none;
  }
  
  /*Left*/
  .modal.left_modal.fade .modal-dialog {
    left: -50%;
    -webkit-transition: opacity 0.3s linear, left 0.5s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.5s ease-out;
    -o-transition: opacity 0.3s linear, left 0.5s ease-out;
    transition: opacity 0.3s linear, left 0.5s ease-out;
  }
  
  .modal.left_modal.fade.show .modal-dialog {
    left: 0;
    box-shadow: 0px 0px 19px rgba(255, 255, 255, 0.5);
  }
  
  /*Right*/
  .modal.right_modal.fade .modal-dialog {
    right: -50%;
    -webkit-transition: opacity 0.3s linear, right 0.5s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.5s ease-out;
    -o-transition: opacity 0.3s linear, right 0.5s ease-out;
    transition: opacity 0.3s linear, right 0.5s ease-out;
  }
  
  
  
  .modal.right_modal.fade.show .modal-dialog {
    right: 0;
    box-shadow: 0px 0px 19px rgba(65, 64, 64, 0.5);
  }
  
  /* ----- MODAL STYLE ----- */
  .modal-content {
    border-radius: 3px;
    border: none;
  }
  
  .modal-header.left_modal,
  .modal-header.right_modal {
    font-family: 'Crimson text', 'Muli', 'Roboto', sans-serif;
    padding: 10px 15px;
    border-bottom-color: rgb(185 178 170);
    background-color: rgb(185 178 170);
  }
  
  .modal_outer .modal-body {
    /*height:90%;*/
    overflow-y: auto;
    overflow-x: hidden;
    height: 91vh;
  }