<div class="container mt-2 mb-2 overlay myBgColor">
    <form (ngSubmit)="onSubmit()" class="row">
        <div class="card col-lg-6 col-md-6 col-sm-12 d-flex flex-column fade-in myBgColor">

            <div *ngIf="imagesGenerating" class="overlay2">
                <mat-spinner *ngIf="imagesGenerating" class="mat-spinner"></mat-spinner>
            </div>

            <div class="lazyLoad-image-modal" *ngIf="generateImagesClicked">
                <app-image-modal [hero]="hero"></app-image-modal>
            </div>
            <div class="d-flex myBgColor">
                <img src="{{ hero.imagePath }}" alt="{{ hero.name }}" class="img-fluid mb-2 card-img myBgColor"  *ngIf="!isNewHero">
            </div>
            <div class="d-flex myBgColor">
                <button class="btn btn-primary " (click)="onGenerateImage()" [hidden]="(!isEditing || isNewHero)">Generate
                    Image</button>
                <button class="btn btn-light" type="button" (click)="onEdit()" [hidden]="isEditing">Update
                    Hero</button>
                <button class="btn btn-warning" type="button" (click)="onDelete()" [hidden]="isEditing">Delete
                    Hero</button>
                <button class="btn btn-warning" type="submit" [hidden]="!isEditing">Save Changes</button>
                <button class="btn btn-light" type="button" (click)="onCancel()" [hidden]="!isEditing">Cancel
                    Update</button>
            </div>
        </div>


        <div class="row">

            <div *ngIf="(hero !== undefined) || isNewHero"
                class="card col-lg-6 col-md-6 col-sm-12 d-flex flex-column fade-in myBgColor">

                <div class="form-group myBgColor">
                    <label for="name" class="font-poppins-regular myHighlight ">Hero Name</label>
                    <h4><input type="text" class="card-title form-control" [(ngModel)]="heroName" name="name"
                            [disabled]="!isEditing" required></h4>

                    <label for="secretIdentity" class="font-poppins-regular myHighlight ">Secret Identity</label>
                    <input type="text" class="form-control" [(ngModel)]="heroSecretIdentity" name="secretIdentity"
                        [disabled]="!isEditing" required>

                    <label for="genderIdentity" class="font-poppins-regular myHighlight ">Gender Identity</label>
                    <input type="text" class="form-control" [(ngModel)]="heroGender" name="gender"
                        [disabled]="!isEditing" required>

                    <label for="weakness" class="font-poppins-regular myHighlight ">Weakness</label>
                    <input type="text" class="form-control" [(ngModel)]="heroWeakness" name="weakness"
                        [disabled]="!isEditing" required>
                </div>

                <div class="form-group myBgColor">

                    <label for="dateOfBirth" class="font-poppins-regular myHighlight ">Date Of Birth</label>
                    <input type="date" class="form-control" [(ngModel)]="heroDateOfBirth" name="dateOfBirth"
                        [disabled]="!isEditing" required>
                    <label for="inclusiveAge" class="font-poppins-regular myHighlight ">Age Description/Inclusive Age</label>
                    <input type="text" class="form-control" [(ngModel)]="heroInclusiveAge" name="inclusiveAge"
                        [disabled]="!isEditing" required>
                    <label for="homeLocation" class="font-poppins-regular myHighlight ">Home Location</label>
                    <input type="text" class="form-control" [(ngModel)]="heroHomeLocation" name="homeLocation"
                        [disabled]="!isEditing" required>
                    <label for="currentLocation" class="font-poppins-regular myHighlight ">Current Location</label>
                    <input type="text" class="form-control" [(ngModel)]="heroCurrentLocation" name="currentLocation"
                        [disabled]="!isEditing" required>
                </div>
                <div class="form-group myBgColor">
                    <label for="costumeDescription" class="font-poppins-regular myHighlight ">Description/Costume Description</label>
                    <textarea class="form-control hero-costume" [(ngModel)]="heroCostumeDescription"
                        name="costumeDescription" [disabled]="!isEditing" required></textarea>
                    <label for="ImagePath" class="font-poppins-regular">imagePath</label>
                    <input type="text" class="form-control" [(ngModel)]="heroImagePath" name="ImagePath"
                            [disabled]="!isEditing" [hidden]="!isDevelopment">
                    <h4 class="myHighlight font-poppins-regular">Superpowers</h4>
                    <ul class="list-group myBgColor">
                        <li *ngFor="let power of superpowers; let i = index" class="list-group-item myBgColor">
                            <input *ngIf="superpowers" type="text" class="form-control font-poppins-regular myHighlight"
                                [(ngModel)]="superpowers[i].name" name="power{{i}}" [disabled]="!isEditing">
                            <button class="btn btn-warning btn-sm" type="button" (click)="onDeletePower(i)"
                                [hidden]="!isEditing">Delete</button>
                        </li>
                    </ul>

                    <div [hidden]="!isEditing">
                        <label for="powerSelect" class="font-poppins-regular">Add existing superpower</label>
                        <select class="form-control" id="powerSelect" (change)="onPowerSelectChange($event)"
                            [disabled]="!isEditing">
                            <option value="" disabled selected>Select a superpower</option>
                            <option *ngFor="let power of availablePowers" [value]="power.superpowerId">{{ power.name }}
                            </option>
                        </select>
                    </div>

                    <div [hidden]="!isEditing">
                        <label for="newPower" class="font-poppins-regular">Add new superpower</label>
                        <input type="text" class="form-control" id="newPower" placeholder="New superpower name"
                            #newPowerInput>
                        <input type="text" class="form-control" id="newPowerDescription"
                            placeholder="New superpower description" #newPowerDescriptionInput>
                        <input type="text" class="form-control" id="newPowerCategory"
                            placeholder="New superpower category" #newPowerCategoryInput>
                        <button class="btn btn-primary" type="button"
                            (click)="onAddNewPower(newPowerInput.value, newPowerDescriptionInput.value, newPowerCategoryInput.value)"
                            [disabled]="!isEditing">Add new superpower</button>
                    </div>
                    <!-- <button class="btn btn-primary" type="button" (click)="onAddPower()" [hidden]="!isEditing" [disabled]="!isEditing">Add Superpower</button> -->
                </div>


                <!-- End of the snippet -->

            </div>

        </div>
    </form>
</div>