.overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.mat-spinner {
    width: 40rem;
    height: 40rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.form-group {
    flex-basis: 100%;
    margin-right: 1rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
    padding-bottom: 1rem;
}

.form-group:last-child {
    margin-right: 0;
}
.form-control:disabled{
    font-family: 'Poppins', sans-serif;
    color: #155263;
    background-color: #ffd76f;
}
.form-control:enabled{
    font-family: 'Poppins', sans-serif;
    color: #1e758d;
    background-color: #ffbb09;
}

.card {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background-color: #155263;
    /* add this line */
}

.card-img {
    width: 100%;
}

@media (max-width: 767px) {
    .card-img {
        width: 25%;
    }

    .container {
        max-width: 100%;
        padding: 0 15px;
    }

    .form-group {
        flex-basis: calc(33.33% - 1rem);
        margin-right: 0;
    }
}

@media (max-width: 576px) {
    .card-img {
        width: 25%;
    }

    .container {
        max-width: 50%;
        padding: 0 5px;
    }

    .form-group {
        flex-basis: calc(33.33% - 1rem);
        flex-direction: column;
        margin-right: 0;
    }
}

.hero-costume {
    min-height: 100px;
}