.overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.mat-spinner {
  width: 40rem;
  height: 40rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-card-container {
  display: flex;
  flex-wrap: wrap;
  transition: transform 0.5s ease-out;
  /* adjust the duration and easing as desired */
}

.hero-card {
  flex: 1 1 250px;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-out;
  /* adjust the duration and easing as desired */
}

.hero-image {
  width: 100%;
  border-radius: 5px;
  height: auto;
}

@media screen and (min-width: 992px) {
  .hero-image {
    max-width: 14.5vw;
    /* adjust this value to fit your layout */
  }
}

@media screen and (max-width: 991px) {
  .hero-image {
    max-width: 17vw;
    /* adjust this value to fit your layout */
  }
}

@media screen and (max-width: 767px) {
  .hero-image {
    max-width: 22vw;
    /* adjust this value to fit your layout */
  }
}