<div class="d-flex justify-content-center align-items-center mb-3">
    <h2 class="text-center me-5 font-poppins-semibold myHighlight">Heroes List</h2>
    <div class="d-flex">
      <div class="form-group me-3">

        <div class="input-group">
            <button class="myBgColorLT ms-3 myHighlightLT font-poppins-thin" routerLink="/hero/new">Add New Hero</button>
          <input type="text" class="form-control font-poppins-thin myBgColorLT" placeholder="Search by Power" [(ngModel)]="searchPower"
              (input)="getHeroesByPower()">
          <div class="input-group-append">
            <button class="btn btn-warning btn-outline-secondary" type="button" (click)="clearSearchPower()">
              &times;
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  


<div class="heroes-list-container" >
    <div class="row">
      <div *ngIf="isLoading" class="overlay2">
        <mat-spinner *ngIf="isLoading" class="mat-spinner"></mat-spinner>
    </div>
      <div class="col-6 col-md-4 col-lg-3" *ngFor="let hero of heroes">
        <!-- (dblclick)="showHeroDetails(hero)" -->
        
        <div class="hero-card myBgColor" [ngClass]="{'selected': hero.superheroId === selectedHero?.superheroId}" (click)="goToHero(hero.superheroId)">
          <img [src]="hero.imagePath" alt="{{hero.name}}" class="img-fluid hero-image">
          <h3 class="myHighlightDK font-poppins-semibold">{{ hero.name }}</h3>
          <p class="font-poppins-thin myHighlightLT">Current Location: {{ hero.currentLocation }}</p>
          <p class="font-poppins-regular myHighlightLT">Powers: {{ getPowersList(hero) }}</p>
          <!-- <a [routerLink]="['/hero', hero.superheroId]" class="stretched-link"></a> -->
        </div>
      </div>
    </div>
  </div>
  