.power-card-container {
    display: flex;
    flex-wrap: wrap;
    transition: transform 0.5s ease-out; /* adjust the duration and easing as desired */
  }
  
  .power-card {
    flex: 1 1 250px;
    margin: 10px;
    padding: 10px;
    background-color: #155263;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-out; /* adjust the duration and easing as desired */
  }
  