<div class="power-card-container">
    <div class="row">
        <div class="col-6 col-md-4 col-lg-3" *ngFor="let Power of powers">
            <div class="power-card ">
              
                <h3 class="card-title myHighlightDK font-ibm-plex-sans-semibold">{{Power.name}}</h3>
                <div>
                    <h5 class="myHighlight font-ibm-plex-sans-regular">{{Power.description}}</h5>
                </div>
                <div>
                    <h5 class="myHighlight font-ibm-plex-sans-regular">Category: {{Power.category}}</h5>
                </div>
              
            </div>
        </div>
    </div>
</div>