/* IBM Plex Sans classes */
.font-ibm-plex-sans-regular {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: normal;
  }
  
  .font-ibm-plex-sans-medium {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
  }
  
  .font-ibm-plex-sans-semibold {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
  }
  
  /* Poppins classes */
  .font-poppins-thin {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
  }
  
  .font-poppins-regular {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
  }
  
  .font-poppins-medium {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
  
  .font-poppins-semibold {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }
  /* You can add global styles to this file, and also import other style files */
.text-bone {
    
  color: rgb(185 178 170);
}
.text-white {
  text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  color: #ffd76f;
  
}
.bg-bone {
background-color: rgb(185 178 170);  
}

.myColor {
  text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  color: #155263;
}
.myColorLT {
  text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  color: #1e758d;
}
.myColorDK {
  text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  color: #0c2f39;
}
.myHighlight {
  text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  color: #ffc93c;
}
.myHighlightLT {
  text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  color: #ffd76f;
}
.myHighlightDK {
  text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  color: #ffbb09;
}

.myBgColor {
  background-color: #155263;
}
.myBgColorLT {
  background-color: #1e758d;
}
.myBgColorDK {
  background-color: #0c2f39;
}
.myBgHighlight {
  background-color: #ffc93c;
}
.myBgHighlightLT {
  background-color: #ffd76f;
}
.myBgHighlightDK {
  background-color: #ffbb09;
}


h1, h2, h4, h5, h5, h6 {
font-family: 'IBM Plex Sans','Poppins','Roboto', sans-serif;
}

body {
  background-color: rgb(0, 0, 0);
}

.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}

/* adding modal css */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
